*.yaml
*.yml
coverage
node_modules
yarn.lock
package-lock.json
./data/
dist
.husky
.env.*
Dockerfile
.dockerignore
.git
.gitignore
.prettierrc
Makefile
README.md
.eslintrc.json
.vscode
.dependency-cruiser.js
.circleci
.auth0
cloud-functions